{% load widget_tweaks %}
<!-- 
This is my attempt to recreate the Job Board Application that was initially developed by Andy Leverenz from Web-Crunch.

https://www.youtube.com/watch?v=tGUMArAW5OE&list=PL01nNIgQ4uxNkDZNMON-TrzDVNIk3cOz4&index=39&t=0s

-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=" />
    <title>Job Board</title>
    <!-- Tailwind CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.6/tailwind.min.css"
    />
  </head>
  <body class="bg-gray-400">
    <main class="main bg-white px-6 md:px-16 py-6 h-full">
      <div class="w-full max-w-sm mx-auto">
        <form action="" method="post" class="border-b-2 py-3" novalidate>
          {% csrf_token %}
          <h1 class="text-xl mb-2">
            Sign up to
            <a href="{% url 'list_jobs' %}" class="text-teal-500 hover:text-teal-600 hover:underline"
              >Job Board</a
            >
          </h1>

          {% for field in form %}
            <div class="mb-4">
                {{ field|add_label_class:"block text-gray-700 text-sm mb-2" }}

                {% if form.is_bound %}
                  {% if field.errors %}
                    {% render_field field class="appearance-none block w-full bg-white text-gray-700 border border-red-500 rounded py-3 px-4 leading-tight focus:outline-none focus:border-gray-500" placeholder=field.label %}

                    {% for error in field.errors %}
                      <div class="text-red-500 text-xs italic">
                        {{ error }}
                      </div>
                    {% endfor %}
                  {% else %}
                    {% render_field field class="appearance-none block w-full bg-white text-gray-700 border border-teal-400 rounded py-3 px-4 leading-tight focus:outline-none focus:border-gray-500" %}
                  {% endif %}
                {% else %}
                  {% render_field field class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 rounded py-3 px-4 leading-tight focus:outline-none focus:border-gray-500" placeholder=field.label %}
                {% endif %}

                {% if field.help_text %}
                  <div class="text-gray-600 text-xs italic">
                    {{ field.help_text }}
                  </div>
                {% endif %}
            </div>

          {% endfor %}

          <div>
            <button
              class="bg-teal-500 hover:bg-teal-600 text-white py-2 px-3 rounded"
            >
              Create Account
            </button>
          </div>
        </form>

        <div class="mt-2 mb-3 text-sm">
          Already a mebmer?
          <a href="#" class="text-teal-500 hover:text-teal-600 hover:underline"
            >Sign in</a
          >
        </div>
      </div>
    </main>
  </body>
</html>
