{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}
  {% if object %}
    Update Job
  {% else %}
    Post a New Job
  {% endif %}
{% endblock title %}

{% block css %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock css %}

{% block content %}
  <main class="main bg-white px-6 md:px-16 py-6">
    <div class="w-full max-w-xl mx-auto">
      <form action="" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}

        <h1 class="text-2xl mb-2">
          {% if object %}
            Update job
          {% else %}
            Post new job
          {% endif %}
        </h1>

        <div class="job-info border-b-2 py-2 mb-5">
          <!--    Title      -->
          <div class="mb-4">
              {{ form.title|add_label_class:"block text-gray-700 text-sm mb-2" }}

              {% if form.is_bound %}
                {% if form.title.errors %}
                  {% render_field form.title class="appearance-none block w-full bg-white text-gray-700 border border-red-500 rounded py-3 px-4 leading-tight focus:outline-none focus:border-gray-500" autofocus="autofocus" %}

                  {% for error in form.title.errors %}
                    <div class="text-red-500 text-xs italic">
                      {{ error }}
                    </div>
                  {% endfor %}
                {% else %}
                  {% render_field form.title class="appearance-none block w-full bg-white text-gray-700 border border-teal-400 rounded py-3 px-4 leading-tight focus:outline-none focus:border-gray-500" placeholder="Frontend Developer" autofocus="autofocus" %}
                {% endif %}
              {% else %}
                {% render_field form.title class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:border-gray-500" placeholder="Frontend Developer" autofocus="autofocus" %}
              {% endif %}
          </div>

          <!--     Link to apply     -->
          <div class="mb-4">
            {{ form.link_to_apply|add_label_class:"block text-gray-700 text-sm mb-2" }}

            {% if form.is_bound %}
              {% if form.link_to_apply.errors %}
                {% render_field form.link_to_apply class="appearance-none block w-full bg-white text-gray-700 border border-red-500 rounded py-3 px-4 leading-tight focus:outline-none focus:border-gray-500" placeholder="https://www.djangoproject.com/apply" %}

                {% for error in form.link_to_apply.errors %}
                  <div class="text-red-500 text-xs italic">
                      {{ error }}
                    </div>
                {% endfor %}
              {% else %}
                {% render_field form.link_to_apply class="appearance-none block w-full bg-white text-gray-700 border border-teal-400 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:border-gray-500" placeholder="https://www.djangoproject.com/apply" %}
              {% endif %}
            {% else %}
              {% render_field form.link_to_apply class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:border-gray-500" placeholder="https://www.djangoproject.com/apply" %}
            {% endif %}
          </div>

          <div class="md:flex md:justify-between">
            <!--      Job Type      -->
            <div class="w-full md:w-3/12 mb-4 md:mb-0">
              {{ form.job_type|add_label_class:"block text-gray-700 text-sm mb-2" }}

              <div class="relative">
                {% render_field form.job_type class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:border-gray-500" %}

                <div
                  class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
                >
                  <svg
                    class="fill-current h-4 w-4"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                    />
                  </svg>
                </div>
              </div>
            </div>

            <!--     Location       -->
            <div class="w-full md:w-8/12 mb-4 md:mb-0">
              {{ form.location|add_label_class:"block text-gray-700 text-sm mb-2" }}
              {% if form.is_bound %}
                {% if form.location.errors %}
                  {% render_field form.location class="appearance-none block w-full bg-white text-gray-700 border border-red-500 rounded py-3 px-4 leading-tight focus:outline-none focus:border-gray-500" placeholder="Schwerin" %}

                  {% for error in form.location.errors %}
                    <div class="text-red-500 text-xs italic">
                      {{ error }}
                    </div>
                  {% endfor %}
                {% else %}
                  {% render_field form.location class="appearance-none block w-full bg-white text-gray-700 border border-teal-400 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:border-gray-500" placeholder="Schwerin" %}
                {% endif %}
                
              {% else %}
                {% render_field form.location class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:border-gray-500" placeholder="Schwerin" %}
              {% endif %}

              <div>
                <label class="text-gray-600 flex items-center" for="id_remote">
                  {% render_field form.remote class="mr-2 leading-tight" %}
                  <span class="text-sm">Work can be done remotely</span>
                </label>
              </div>
            </div>
          </div>
          <!-- end group -->

          <!--    Description      -->
          <div class="mb-2">
            {{ form.description|add_label_class:"block text-gray-700 text-sm mb-2" }}
            {{ form.description }}

            {% if form.description.errors %}
              {% for error in form.description.errors %}
                <div class="text-red-500 text-xs italic">
                  {{ error }}
                </div>
              {% endfor %}
            {% endif %}
          </div>

          <div class="flex flex-wrap -mx-3 mb-4">
            <!--     Company       -->
            <div class="w-full md:w-1/2 px-3 mb-4 md:mb-0">
              {{ form.company|add_label_class:"block text-gray-700 text-sm mb-2" }}
              
              {% if form.is_bound %}
                {% if form.company.errors %}
                  {% render_field form.company class="appearance-none block w-full bg-white text-gray-700 border border-red-500 rounded py-3 px-4 leading-tight focus:outline-none focus:border-gray-500" placeholder="Company" %}

                  {% for error in form.company.errors %}
                    <div class="text-red-500 text-xs italic">
                      {{ error }}
                    </div>
                  {% endfor %}

                {% else %}
                  {% render_field form.company class="appearance-none block w-full bg-white text-gray-700 border border-teal-400 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:border-gray-500" placeholder="Company" %}
                {% endif %}
              {% else %}
                {% render_field form.company class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:border-gray-500" placeholder="Company" %}
              {% endif %}
            </div>

            <!--      Company Website      -->
            <div class="w-full md:w-1/2 px-3 mb-4 md:mb-0">
              {{ form.company_website|add_label_class:"block text-gray-700 text-sm mb-2" }}

              {% if form.is_bound %}
                {% if form.company_website.errors %}
                  {% render_field form.company_website class="appearance-none block w-full bg-white text-gray-700 border border-red-500 rounded py-3 px-4 leading-tight focus:outline-none focus:border-gray-500" placeholder="https://www.djangoproject.com/" %}

                  {% for error in form.company_website.errors %}
                    <div class="text-red-500 text-xs italic">
                      {{ error }}
                    </div>
                  {% endfor %}
                {% else %}
                  {% render_field form.company_website class="appearance-none block w-full bg-white text-gray-700 border border-teal-400 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:border-gray-500" placeholder="https://www.djangoproject.com/" %}
                {% endif %}
              {% else %}
                {% render_field form.company_website class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:border-gray-500" placeholder="https://www.djangoproject.com/" %}
              {% endif %}
            </div>
          </div>
          <!-- end group -->

          <!--      Company Logo      -->
          <div class="mb-4 md:mb-0">
            {{ form.company_logo|add_label_class:"block text-gray-700 text-sm mb-2" }}
            
            {% if form.company_logo.errors %}
              {% render_field form.company_logo class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" %}

              {% for error in form.company_logo.errors %}
                <div class="text-red-500 text-xs italic">
                    {{ error }}
                  </div>
              {% endfor %}
            {% else %}
              {% if object %}
                <div class="show-only-input">
                  {% render_field form.company_logo class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-3 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" %}
                </div>
              {% else %}
                {% render_field form.company_logo class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-3 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" %}
              {% endif %}
            {% endif %}
          </div>
          <!-- Image Preview -->
          {% if object %}
            <div class="image-preview mb-4 flex justify-center align-items" id="previewImageContainer">
              <img src="{{ object.company_logo.url }}" alt="Company logo" class="preview-image" style="max-height: 250px">
            </div>
          {% else %}
            <div class="image-preview mb-4 flex justify-center align-items hidden" id="previewImageContainer">
              <img src="" alt="Image preview" class="preview-image" style="max-height: 250px">
            </div>
          {% endif %}
        </div>
        <!-- end job-info -->

        {% if not object %}
        <!-- This will be visible only when posting a new job -->
          <div class="payment mb-6">
            <h4 class="mb-2">Payment</h4>
            <p class="bg-gray-200 py-3 text-center text-sm">
              <span><i class="far fa-credit-card"></i></span>
              All jobs cost <strong>€300</strong> for 30 days.
            </p>
          </div>
        {% endif %}

        <!--     Submit     -->
        <div>
          {% if object %}
            <a href="{% url 'job_detail' object.pk %}"
              class="hover:bg-gray-300 text-blue-700 font-bold py-2 px-3 rounded">
              Cancel
            </a>
          {% else %}
            <a href="{% url 'list_jobs' %}"
              class="hover:bg-gray-300 text-blue-700 font-bold py-2 px-3 rounded">
              Cancel
            </a>
          {% endif %}
          <button
            class="bg-teal-500 hover:bg-teal-600 text-white py-2 px-3 rounded ml-3"
            type="submit"
          >
            {% if object %}
              Update job
            {% else %}
              Create job
            {% endif %}
          </button>
        </div>
      </form>
    </div>
  </main>
{% endblock content %}

{% block scripts %}
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

  <!-- DOM ready -->
  <script>
    window.addEventListener("DOMContentLoaded", (event) => {
      // Initialize Simple Markdown Editor
      let simpleMde = new SimpleMDE({
        element: document.getElementById("id_description")
      });


      // Preview company logo image
      const imageInputField = document.getElementById("id_company_logo");
      const previewImageContainer = document.getElementById("previewImageContainer");
      const previewImage = previewImageContainer.querySelector(".preview-image");

      imageInputField.addEventListener("change", function() {
        const imageFile = this.files[0];
        
        if (imageFile) {
          const reader = new FileReader();
          previewImageContainer.classList.remove("hidden");
          reader.addEventListener("load", function() {
            previewImage.setAttribute("src", this.result);
          });
          reader.readAsDataURL(imageFile);
        } else {
          // if no image is selected
          previewImageContainer.classList.add("hidden");
          previewImage.setAttribute("src", "");

        }
      });




    });
  </script>
{% endblock scripts %}
