{% extends "base.html" %}

{% block content %}

  <div class="sm:flex">
    <aside class="sidebar sm:w-48 sm:mx-6 mb-4 flex-none w-full">
      <span class="text-gray-800 text-sm px-6 sm:px-0">FILTER BY JOB TYPE</span>
      <ul class="px-6 sm:px-0">
        <li class="bg-gray-800 hover:bg-gray-900 text-white text-center">
          <a href="{% url 'list_jobs' %}" class="block py-2">All</a>
        </li>
        <li class="bg-teal-500 hover:bg-teal-600 text-white text-center mt-1">
          <a href="{% url 'list_jobs' %}?job_type=Full-time" class="block py-2">Full-time</a>
        </li>
        <li class="bg-blue-700 hover:bg-blue-800 text-white text-center mt-1">
          <a href="{% url 'list_jobs' %}?job_type=Part-time" class="block py-2">Part-time</a>
        </li>
        <li class="bg-yellow-500 hover:bg-yellow-600 text-white text-center mt-1">
          <a href="{% url 'list_jobs' %}?job_type=Freelance" class="block py-2">Freelance</a>
        </li>
        <li class="bg-blue-400 hover:bg-blue-500 text-white text-center mt-1">
          <a href="{% url 'list_jobs' %}?job_type=Contract" class="block py-2">Contract</a>
        </li>
      </ul>
    </aside>

    <main class="main bg-white w-full">
      {% for job in jobs %}
        <div class="job flex pl-4 sm:pl-8 md:pl-16 pr-4 sm:pr-8 py-6 hover:bg-gray-200 border-b ">
          <div class="employer-logo flex-none mr-8">
            <img
              class="h-12 w-12"
              src="{{ job.company_logo.url }}"
              alt=""
            />
          </div>

          <div class="job-post w-3/4">
            <h5 class="job-title font-bold text-lg"><a href="{% url 'job_detail' job.pk %}" class="hover:underline">{{ job.title }}</a></h5>
            <span class="employer">{{ job.company }}</span>
            <div class="job-description text-sm text-gray-600 leading-tight">
              {{ job.get_description_as_markdown|truncatechars:300 }}
            </div>
          </div>

          <div class="job-meta w-1/4 text-right">
            {% if job.job_type == "Full-time" %}
              <span class="job-type bg-teal-500 text-white p-1 text-xs"
                >{{ job.job_type }}</span
              >
            {% elif job.job_type == "Part-time" %}
              <span class="job-type bg-blue-700 text-white p-1 text-xs"
                >{{ job.job_type }}</span
              >
            {% elif job.job_type == "Freelance" %}
              <span class="job-type bg-yellow-500 text-white p-1 text-xs"
                >{{ job.job_type }}</span
              >
            {% else %}
              <span class="job-type bg-blue-400 text-white p-1 text-xs"
                >{{ job.job_type }}</span
              >
            {% endif %}
            <br />
            {% if job.location %}
              <span class="job-location text-xs">{{ job.location }}</span>
            {% else %}
              <span class="job-location text-xs">Remote</span>
            {% endif %}
          </div>
        </div>
        <!-- /.job -->
      {% empty %}
        <div class="text-center h-full flex flex-col justify-center">
          <h1 class="text-3xl">There are currently no {% if job_type %}<span class="text-red-500">{{ job_type }}</span> {% endif %} jobs.</h1>
          <h2 class="text-2xl text-gray-500">Come back later!!!</h2>
        </div>
      {% endfor %}
      

      {% include "partials/_pagination.html" with job_type=job_type %}
    </main>
  </div>
{% endblock content %}